.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid #D4D4D4;
    height: 100vh;
    width: 200px;
    padding: 20px 0 0 0;

    .profile_image {
        border-radius: 50%;
        width: 40%;
    }

    .header {

    }

    .name {
        margin-top: 0;
    }

    .menu {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;

        .each-session {
            padding: 10px 0 10px 0;
            text-decoration: none;
            color: inherit;
            width: 100%;

            .icon {
                margin-right: 10px;
            }
        }

        .each-session:hover {
            background-color: #D5D5D6;
        }
    }
}